@model Mvc_CRUD.Models.Personel

@{
  ViewBag.Title = " Personel Silme";
}

<div class="card">
  <div class="card-header">
   <h3>Personel Silme</h3>
  </div>
  <div class="card-body">
    <div>
      <form asp-controller="Personel" asp-action="DeleteConfirm" asp-route-id="@Model.Id">
        <input type="hidden" asp-for="Id" />
        <div class="mb-3">
         <label asp-for="Ad" class="form-label"></label>
         <input asp-for="Ad" class="form-control"/>
         <span asp-validation-for="Ad" class="text-danger"></span>
        </div>

        <div class="mb-3">
          <label asp-for="Soyad" class="form-label"></label>
          <input asp-for="Soyad" class="form-control" />
          <span asp-validation-for="Soyad" class="text-danger"></span>
        </div">
@* 
        <div>
          <label asp-for="DogumYili" class="form-label"></label>
          <input asp-for="DogumYili" class="form-control" />
          <span asp-validation-for="DogumYili" class="text-danger"></span>
        </div> *@

        <div class="mb-3">
          <label asp-for="SicilNo" class="form-label"></label>
          <input asp-for="SicilNo" class="form-control" />
          <span asp-validation-for="SicilNo" class="text-danger"></span>
        </div> 

@*         <div class="mb-3">
          <label asp-for="IseBaslamaTarihi" class="form-label"></label>
          <input asp-for="IseBaslamaTarihi" class="form-control" />
          <span asp-validation-for="IseBaslamaTarihi" class="text-danger"></span>
        </div>

        <div class="mb-3"> 
          <label class="form-check-label">
            <input asp-for="Aktif" class="form-check-control" />
            @Html.DisplayNameFor(model => model.Aktif)
          </label>
        </div> *@

       <a class="btn btn-secondary" asp-controller="Personel" asp-action="Index"> 
         <b class="form-control-color text-black">Listeye Geri Dön </b></a>
        <button type="submit" class="btn btn-danger">Personeli Sil</button>
     
      </form>
    </div>
  </div>
</div> 
